<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="content">
        <div class="header">
            <a href="/">Главная</a>
            <a href="/products/">Каталог</a>
            <a href="/contact/">Контакты</a>
        </div>
        <h1>WSM WebStudioMoscow</h1>
        <div class="center">
            <img src="/static/img/logo_4.png">
            <div class="box_text">
                <p><b>Добрый день</b>. Наша студия <i>WSM</i> всегда готова помочь вам с разработкой сайта, магазина, однострочника.</p>
                <p>На нашем сайте вы можете заказать разработку, или купить уже готовый макет. <br>
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        Все права защищены <a href="https://www.instagram.com/onmaxon/"> i`am </a> &copy;
    </div>
</body>
</html>
